<ng-container *ngIf="thinkYe">
    <div class="container">
        <h1 [innerHTML]="thinkYe.getHTMLFriendlyQuestion()"></h1>
        <span class="spacer"></span>
        <div class="how-to-respond">
            <div *ngIf="qrCode">
                <img [src]="qrCode" alt="QR code">
                <br>
            </div>
            <p>Respond to this question <span>{{ origin }}</span></p>
            <h2><span>Code: {{ thinkYe.id }}</span></h2>
        </div>
    </div>
    <div class="grid" [ngStyle]="{'grid-template-columns': 'repeat(' + columnCount + ', 1fr)'}" *ngIf="thoughts">
        <div class="response" *ngFor="let thought of thoughts; index as i"
            [ngStyle]="{ 'background': thought.colour, 'transform-origin': transformOrigin }"
            [ngClass]="determineResponseClasses(thought)" (mouseover)="determineTransformOrigin(thought, i)"
            (click)="selectResponse(thought)" appClickOutside
            (onClickOutside)="thought.selected && unSelectResponse(thought)">
            <ng-container *ngIf="thought.selected">
                <button mat-icon-button color="warn" (click)="deleteThought(thought)">
                    <mat-icon>delete</mat-icon>
                </button>
                <br>
            </ng-container>
            {{ thought.value }}
        </div>
    </div>
    <div class="selected-background" *ngIf="selected"></div>
</ng-container>