<ng-container *ngIf="thinkYe">
    <div class="center-text container">
        <h1>{{ thinkYe.question }}</h1>
        <p>To respond to this question, go to <span>{{ origin }}</span> and enter code:</p>
        <h2><span>{{ thinkYe.id }}</span></h2>
    </div>
    <div class="grid" [ngStyle]="{'grid-template-columns': 'repeat(' + columnCount + ', 1fr)'}" *ngIf="thoughts">
        <div class="response" *ngFor="let thought of thoughts; index as i"
            [ngStyle]="{ 'background': thought.colour, 'transform-origin': transformOrigin }"
            [ngClass]="determineResponseClasses(thought)" (mouseover)="determineTransformOrigin(thought, i)"
            (click)="selectResponse(thought)" appClickOutside
            (onClickOutside)="thought.selected && unSelectResponse(thought)">
            <ng-container *ngIf="thought.selected">
                <button mat-icon-button color="warn" (click)="deleteThought(thought)">
                    <mat-icon>delete</mat-icon>
                </button>
                <br>
            </ng-container>
            {{ thought.value }}
        </div>
    </div>
    <div class="selected-background" *ngIf="selected"></div>
</ng-container>