<ng-container *ngIf="thinkYe">
    <div class="center-text container">
        <h1>{{ thinkYe.question }}</h1>
        <p>To respond to this question, go to <span>{{ origin }}</span> and enter code:</p>
        <h2><span>{{ thinkYe.id }}</span></h2>
    </div>
    <div class="grid" [ngStyle]="{'grid-template-columns': 'repeat(' + columnCount + ', 1fr)'}" *ngIf="thoughts">
        <div class="response" *ngFor="let thought of thoughts" [ngStyle]="{ 'background': thought.colour }">{{ thought.value }}</div>
    </div>
</ng-container>