<h1>What Think Ye</h1>
<p *ngIf="user">Hey 😎 - {{ user.email }}</p>
<button mat-raised-button color="primary" (click)="createThinkYe()" class="question">Add a question</button>
<h2>Your questions...</h2>
<div class="flexColumn">
    <div class="questionRow" *ngFor="let thinkYe of thinkYes">
        <button mat-raised-button color="accent" (click)="openThinkYe(thinkYe.id)"
            class="question">{{thinkYe.question}}</button>
        <button mat-icon-button color="warn" (click)="deleteThinkYe(thinkYe)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>