<h1>What's your question?</h1>
<form class="flexColumn" [formGroup]="inputForm">
    <mat-form-field appearance="standard">
        <mat-label>Question</mat-label>
        <input matInput id="question" name="question" type="email" formControlName="question">
        <mat-error *ngIf="this.inputForm.get('question').invalid">This field is required</mat-error>
    </mat-form-field>
    <div class="flexRow">
        <button mat-raised-button color="warn" (click)="cancel()" type="button">Cancel</button>
        <span></span>
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="!inputForm.valid" type="submit">Submit</button>
    </div>
</form>
