html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #808080;
}

.contentWrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
.contentWrapper form {
    padding: 0.5em;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
form .flexColumn button {
    align-self: flex-end;
}

.center-text {
    text-align: center;
}